/Builds/
/Library/
/Temp/

/[Oo]bj/
/[Bb]uild

/.vs/
/.idea*

/*.csproj
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/*.stackdump

/.DS_Store*
/._*
/.Spotlight-V100
/.Trashes
/ehthumbs.db
/[Tt]humbs.db
/[Dd]esktop.ini
/sysinfo.txt